// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$mdc-theme-primary: #FFAD4D;
//Material Design Components
@import "~@material/button/mdc-button";
@import "~@material/textfield/mdc-text-field";
@import "~@material/elevation/mdc-elevation";
@import "~@material/linear-progress/mdc-linear-progress";
@import "~@material/dialog/mdc-dialog";

//Styling for write.blade.php
@import "write";
@import "blogs";

body {
    font-family: 'Maven Pro', "Nunito", sans-serif;
}

.text-on-navbar {
    font-size: 14px;
}

.top-bar {
    background-color: white;
    box-shadow: 0 1px #f7f4f4;
}
