
.publish-btn {
    @include mdc-button-density(-3);
    @include mdc-button-filled-accessible(#FFAD4D)
}

#draft {
    letter-spacing: 1px;
}

#blog-title-textfield {
    @include mdc-text-field-caret-color(black);
}

#blog-content-textarea {
    font-size: 19px;
}

#top-bar {
    background-color: white;
    box-shadow: 0 1px #f7f4f4;
}
