header {
    position: inherit;
}

#categories-slide {
    width: 100%;
    padding: 0;
}

#categories-slide .slidee {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

#categories-slide .slidee li {
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    height: 100%;
}

li.active { color: #FFAD4D}

.single-post .icons {
    margin: 10px 0 10px;
}

.single-post .title {
    margin: 0
}

.single-post {
    margin-bottom: 60px;
}
