.single-post .icons ul.social-icons > li > a{ padding-left: 15px; }
.single-post .icons ul.social-icons > li { padding-left: 15px; }

.single-post .icons ul.social-icons > li > a > i{ margin-right: 10px; }
.single-post .icons ul.social-icons > li > i{ margin-right: 10px; }

.sidebar-area img{ max-width: 600px; max-height: 150px; object-fit: cover}

.icon {
    font-size: 22px !important;
}

a.active {
    color: #ffad4d;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: #bdbdbd;
}

.material-icons {
    color: #716f6f;
    font-size: 15px;
}

.material-icons:hover {
    color: #1b1e21;
}

/*Blog post images*/
.blog-post-image[min-width~="260px"] {
    height: 190px;
}

.blog-post-image[min-width~="300px"] {
    height: 190px;
}

.blog-post-image[min-width~="370px"] {
    height: 240px;
}

.blog-post-image[min-width~="500px"] {
    height: 375px;
}

.blog-post-image > img {
    height: 100%;
    object-fit: cover;
}

#instagram {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#instagram img {
    width: 180px;
    max-height: 180px;
}

#instagram-side-bar img {
    width: 90px;
    height: 90px;
    margin: 2px
}
