.single-post .icons ul.social-icons > li > a{ padding-left: 15px; }
.single-post .icons ul.social-icons > li { padding-left: 15px; }

.single-post .icons ul.social-icons > li > a > i{ margin-right: 10px; }
.single-post .icons ul.social-icons > li > i{ margin-right: 10px; }

.icon {
    font-size: 22px !important;
}

a.active {
    color: #ffad4d;
}
